<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Phrases
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="content">
    <div class="centered-container">
      <ion-textarea  [autoGrow]="true" [(ngModel)]="frase"></ion-textarea>
    </div>
  </div>
  

  <ion-footer class="footer">
    <ion-button color="primary" expand="block" (click)="Sortear()">See new phrase</ion-button>
    <ion-button color="danger" expand="block" (click)="Limpiar()">Clear</ion-button>
  </ion-footer>
</ion-content>
