<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Phrase registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Phrase registration. </ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-textarea  fill="outline"   [autoGrow]="true" [(ngModel)]="frase"></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-button color="primary" expand="block" (click)="NuevaFrase()">Save the sentense</ion-button>
      <ion-button color="danger" expand="block" (click)="Clear()">Clear</ion-button>
    </ion-card-content>
  </ion-card>


 
</ion-content>
